<div class="container mt-4">
  <h1 class="mb-4">Write a New Post</h1>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        id="title"
        formControlName="title"
        class="form-control"
        [ngClass]="{ 'is-invalid': title?.touched && title?.invalid }"
        required
      />
      <div *ngIf="title?.touched && title?.invalid" class="invalid-feedback">
        <div *ngIf="title?.errors?.['required']">Title is required.</div>
        <div *ngIf="title?.errors?.['minlength']">
          Title must be at least 5 characters long.
        </div>
        <div *ngIf="title?.errors?.['maxlength']">
          Title cannot be more than 150 characters long.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="content">Content</label>
      <textarea
        id="content"
        formControlName="content"
        class="form-control"
        [ngClass]="{ 'is-invalid': content?.touched && content?.invalid }"
        required
      ></textarea>
      <div
        *ngIf="content?.touched && content?.invalid"
        class="invalid-feedback"
      >
        <div *ngIf="content?.errors?.['required']">Content is required.</div>
        <div *ngIf="content?.errors?.['maxlength']">
          Content cannot be more than 2500 characters long.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="categoryName">Category</label>
      <select
        id="categoryName"
        formControlName="categoryName"
        class="form-control"
        [ngClass]="{ 'is-invalid': category?.touched && category?.invalid }"
        required
      >
        <option *ngFor="let category of categories" [ngValue]="category.name">
          <!-- Use ngValue to avoid category being characterized -->
          {{ category.name }}
        </option>
      </select>
      <div
        *ngIf="category?.touched && category?.invalid"
        class="invalid-feedback"
      >
        <div *ngIf="category?.errors?.['required']">Category is required.</div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
