<div class="container mt-4">
  <h1 class="mb-4">Write a New Post</h1>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input id="title" formControlName="title" class="form-control" required />
    </div>

    <div class="form-group">
      <label for="content">Content</label>
      <textarea
        id="content"
        formControlName="content"
        class="form-control"
        required
      ></textarea>
    </div>

    <div class="form-group">
      <label for="category">Category</label>
      <select
        id="category"
        formControlName="category"
        class="form-control"
        required
      >
        <option *ngFor="let category of categories" [ngValue]="category"> 
          <!-- Use ngValue to avoid category being characterized -->
          {{ category.name }}
        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid">
      Submit
    </button>
  </form>
</div>
